window {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  background: rgba(0, 0, 0, 0);
}

.Bar centerbox {
  padding: .5rem 0;
}

.Bar .Media {
  margin: 0 1rem;
}
.Bar .Media .Cover {
  min-width: 2rem;
  min-height: 2rem;
  background-size: cover;
  background-position: center;
  border-radius: 3rem;
}

.Bar .Right {
  margin: 0 1rem;
}

.Wallpaper {
  min-height: calc(1440px - 5.5rem);
  padding: 5rem;
}

.Wallpaper viewport {
  border: none;
  background: rgba(0, 0, 0, 0);
}

.Wallpaper .Thumbnail {
  min-width: 20rem;
  min-height: 11.25rem;
  background-size: cover;
  background-position: center;
  margin: .5rem 0;
  border: none;
  box-shadow: none;
  border-radius: .5rem;
}
